{% extends '../_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Order General Information</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Order ID: 12312312</li>
                            <li>Channel: OhLouLou (Shopify) Order: <a href="">#10032</a></li>
                            <li>Date: Aug, 13, 2018</li>
                            <li>Fulfilment Status: <span class="badge badge-danger">Unfulfiled</span></li>
                            <li>Order Status: <span class="badge badge-warning">Pending Delivery</span></li>
                            <li>Payment Status: <span class="badge badge-success">Paid</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Delivery Information</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Carrier: UPS</li>
                            <li>Tracking Number: UPS234234343243 <a href="">Live Tracking</a></li>
                            <li>Status: <span class="badge badge-success">Delivered</span></li>
                            <li>Address: 43434, This and this Lane, <br>Hollywood, 90210, CA, USA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Order Detail</h3>
            <table class="table">
                <thead>
                    <th></th>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    {% for item in '1234' %}
                        <tr>
                            <td><img src="https://source.unsplash.com/75x100?product" alt=""></td>
                            <td>
                                <h4>
                                    {{ item }} X Coffe Mug Camper 13oz
                                    <br>
                                    <a href="{% url 'mockups:order-item-detail' %}"><button class="btn btn-primary">Papi, fullfill</button></a>
                                </h4>
                                <hr>
                                <div class="text-right small">
                                    <h6 class="text-left">PAPI!, please fullfil me...</h6>

                                    <table class="table table-striped table-sm small text-center">
                                        <tr>
                                            <td><span class="font-weight-bold">PMGOA</span> <br><span class="badge badge-success ">Preferred</span></td>
                                            <td>{{ item }} for 4.00/piece</td>
                                            <td>Total: 400.00</td>
                                            <td>1 days <i class="fa fa-check text-success"></i></td>
                                            <td><button class="btn btn-sm btn-secondary">Choose</button></td>
                                        </tr>
                                        <tr>
                                            <td><span class="font-weight-bold">Other Asshole</span><br> <span class="badge badge-secondary small">Sponsored</span></td>
                                            <td>{{ item }} for 4.00/piece</td>
                                            <td>Total: 400.00</td>
                                            <td>10 days <i class="fa fa-times text-danger"></i></td>
                                            <td><button class="btn btn-sm btn-secondary">Choose</button></td>
                                        </tr><tr>
                                            <td><span class="font-weight-bold">The Other Guy...</span></td>
                                            <td>{{ item }} for 4.00/piece</td>
                                            <td>Total: 400.00</td>
                                            <td>10 days</td>
                                            <td><button class="btn btn-sm btn-secondary">Choose</button></td>
                                        </tr>
                                    </table>

                                </div>
                            </td>
                            <td>$4.66</td>
                            <td>$103.00</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3" class="text-right">Total</th>
                        <th>300.00</th>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}