{% extends '../_base.html' %}

{% block content %}
    <table class="table table-sm table-hover table-striped">
        <thead>
            <th>Shop</th>
            <th>Carried</th>
            <th>Satus</th>
        </thead>
        <tbody>
            {% for item in '12345' %}
                <tr>
                    <td><a href="{% url 'mockups:order-detail' %}"> 36534534098</a></td>
                    <td>Shopify</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}