{% extends '../_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
              <h1>Fullfilment Battlefield...</h1>
            </div>

            <div class="col-12" style="display: flex">
                <img src="https://source.unsplash.com/120x180?product" alt="">
                <h2>Coffe Mug Camper 13oz</h2>
            </div>
        </div>
            <hr>
        <div class="row">
            <h3>Available Suppliers</h3>
            <table class="table">
                <thead>
                    <th>Supplier</th>
                    <th>Conditions</th>
                    <th>Pricing</th>
                    <th></th>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                PMGOA
                                <a href=""><i class="fa fa-external-link-alt"></i></a>
                            </td>
                            <td>
                                We love you, please buy from us...
                            </td>
                            <td>$4.66 a piece / 500.00 total</td>
                            <td><button class="btn btn-success">Selected <i class="fa fa-check"></i></button></td>
                        </tr>

                         <tr>
                            <td>
                                This Other Guy
                                <a href=""><i class="fa fa-external-link-alt"></i></a>
                                <br>
                                <span class="badge badge-secondary">Sponsored</span>
                            </td>
                            <td>
                                10 day delivery
                            </td>
                            <td>$4.66 a piece / 500.00 total</td>
                            <td><button class="btn btn-primary">Select</button></td>
                        </tr>

                        <tr>
                            <td>
                                One more...
                                <a href=""><i class="fa fa-external-link-alt"></i></a>
                                <br>
                                <span class="badge badge-secondary">Sponsored</span>
                            </td>
                            <td>
                                10 day delivery
                                <br>
                                <span class="badge badge-success"> Other items with the supplier</span>
                            </td>
                            <td>$4.66 a piece / 500.00 total</td>
                            <td><button class="btn btn-primary">Select</button></td>
                        </tr>

                        <tr>
                            <td>
                                One more...
                                <a href=""><i class="fa fa-external-link-alt"></i></a>
                                <br>
                                <span class="badge badge-secondary">Sponsored</span>
                            </td>
                            <td>
                                10 day delivery
                                <br>
                                <span class="badge badge-success"> Other items with the supplier of the same category</span>
                            </td>
                            <td>$4.66 a piece / 500.00 total</td>
                            <td><button class="btn btn-primary">Select</button></td>
                        </tr>

                </tbody>

            </table>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Next Item...</button>
        </div>
    </div>
{% endblock %}