{% extends '../_base.html' %}

{% block content %}
    <table class="table table-sm table-hover table-striped">
        <thead>
            <th>Product</th>
            <th>Channels</th>
            <th>Sales</th>
        </thead>
        <tbody>
            {% for item in '12345' %}
                <tr>
                    <td><a href="{% url 'mockups:product-detail' %}">45345288</a></td>
                    <td>Coffe Mug Camper 13oz.</td>
                    <td>$23,4545.00</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}