{% extends '../_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Camper Coffe Mug 13oz</h4>
                    </div>
                    <div class="card-body">

                        <img src="https://source.unsplash.com/random/250x100" alt="">
                        <ul class="list-unstyled">
                            <li>Product: Coffe Mug</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <table class="table table-sm table-striped">
                            <thead>
                                <th>Channel</th>
                                <th>Price</th>
                                <th>Sold</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>OhLuLou</td>
                                    <td>$6.00</td>
                                    <td>125 ($44,565.00)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}