body {
    margin-top:60px !important;
    margin-bottom: 100px !important;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.li-title{
    /* font-weight: bold; */
}

.li-content{
    font-weight: bold;
}

aside {
    position: fixed;
    left: 0;
    bottom: 0;
}

.card {
    margin-top: 5px;
}
