{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>EWI{% block title %}{% endblock %}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui/jquery-ui.theme.min.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon.png">


        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">

            {% block nav-container %}
                <div class="">
                    <nav>
                        {% block nav %}
                            {% include './navbar.html' %}
                        {% endblock %}
                    </nav>
                </div>
            {% endblock %}

            <div class="container-fluid">
            <div class="row">



               <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        {% block aside %}
                            {% include './aside.html' %}
                        {% endblock %}
                    </div>
                </nav>

                 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                        {% block content %}
                        {% endblock %}

                 </main>
            </div>


            </div>





            {% block footer-container %}
                <div class="">
                    <footer>
                        {% block footer %}
{#                            {% include './footer.html' %}#}
                        {% endblock %}
                    </footer>
                </div>
            {% endblock %}

        </div>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js">
</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        {% block js %}
        {% endblock %}
    </body>
</html>

