<div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
            <i class="fas fa-chart-line"></i>
          Dashboard
        </a>
        <hr>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mockups:store-list' %}">
            <i class="fas fa-store"></i>
          Shops
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mockups:product-list' %}">
            <i class="fas fa-tshirt"></i>
          Products
        </a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{% url 'mockups:order-list' %}">
            <i class="fas fa-shopping-cart"></i>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-exclamation-triangle"></i>
          Shops
        </a>
      </li>


    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Otros</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">

      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-file"></i>
          Reporte 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-address-book"></i>
          Directorio
        </a>
      </li>
    </ul>
</div>
