{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
      <img src="{% static 'images/favicon/favicon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      EWI
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% block default-nav-buttons %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'mockups:store-list' %}">Shops</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'mockups:product-list' %}">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'mockups:order-list' %}">Orders</a>
      </li>
      {% endblock %}
      {% block extra-nav-buttons %}
      {% endblock %}
    </ul>

    {% block right-navbar %}
    <ul class="nav navbar-nav navbar-right">
        {% block right-nav-buttons %}
        {% endblock %}
    </ul>
    {% endblock %}


  </div>
</nav>
